* {
  padding: 0;
  margin: 0;
}

body {
  font-family: Calibri;
}

.container {
  background: white;
  margin: 0 auto;
  padding: 1em;
  max-width: 960px;
}

.welcome {
  display: flex;
  /*flex-wrap: wrap;*/
  flex-direction: column;
  align-items: center;
  margin: 20px 0 0 0;
  padding: 0;
}

.welcomeLeft {
  flex: 1;
  order: 1;
  min-width: 400px;
  margin: 0px 20px 20px 0;
}

.welcomeRight {
  flex: 1;
  order: 2;
  min-width: 400px;
}

  .welcomeRight > img {
    width: 100%;
  }

.welcomeHeader {
  display: flex;
}

.headerLogo {
  flex: 0;
  margin-right: 10px;
  text-decoration: none;
}

  .headerLogo > img {
    height: 140px;
  }

.headerText {
  flex: 0;
  color: #808080;
  font-weight: lighter;
  text-align: center;
}

.headerTextTitle {
  font-size: 50px;
}

.headerTextSubTitle {
  font-size: 20px;
}

.welcomeText {
  margin: 40px 0 0 0;
  text-align: center;
}

@media screen and (min-width: 800px) {
  .welcome {
    flex-direction: row;
  }
}

footer {
  width: 100%;
  /*background-color: #5c5045;*/
  /*margin: 20px 0px 20px;
  padding: 5px;*/
}
